---

title: "Writings"
layout: 'base.njk'
---

<a href="/" class="text-xs bg-secondary/30 px-3 py-1.5 rounded-md hover:bg-secondary transition-all capitalize font-medium">Back to home</a>

<div class="mt-10">
    
<h1 class="text-muted-foreground">All Writings</h1>
<ul class="py-5 space-y-5">
    <li class="">
        <a
            href=""
            class="font-medium hover:text-teal-500 text-lg"
            >This is a latest piece of writing</a>
            <span class="flex items-center gap-2 text-sm">
                <p>June 18, 2025</p>
                            .
                <p>2 minutes read.</p>
            </span>
    </li>

                    <li class="">
                        <a
                            href=""
                            class="font-medium hover:text-teal-500 text-lg"
                            >This is a latest piece of writing</a
                        >
        <span class="flex items-center gap-2 text-sm">
            <p>June 18, 2025</p>
                            .
            <p>2 minutes read.</p>
        </span>
    </li>

</ul>

</div>